
$gray-dark:                 #292b2c !default;
$gray:                      #464a4c !default;
$gray-light:                #636c72 !default;
$gray-lighter:              #eceeef !default;
$gray-lightest:             #f7f7f9 !default;
$white:                     #ffffff !default;

$primary:                   $white  !default;
$accent:                    #ff3399 !default;
$bg:                        #0b3d51 !default;
